*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
*.user
BetterBudgetWeb.csproj.user
Properties/PublishProfiles/BetterBudget - Web Deploy.pubxml.user
Properties/PublishProfiles/DavidBetterBudget - Web Deploy.pubxml.user
Properties/PublishProfiles/DavidBetterBudget - Web Deploy.pubxml.user
*.user
