<div class="flex-r" style="width:15%;flex-wrap:wrap;margin:10vh 50vw;transform: translate(-50%, 0%);">
    <img class="" alt="Loading screen image of logo" src="images/RoundLogo.png" style="height:@Dimensions;width:@Dimensions" />
</div>
<br />
<div class="text-color flex-r" style="font-size:5vw;width:100%;flex-wrap:wrap;margin:1vh 50vw;transform: translate(-50%, 0%);">
    <span>@Title</span><span class="first-dot">.</span><span class="second-dot">.</span><span class="third-dot">.</span>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Loading...";
    private string Dimensions => Constants.Mobile ? "20vh" : "20vw";
}
