@using BetterBudgetWeb.Data
<div style="border:solid @Level.ColorScheme 2px;padding:1em;border-radius:12px;background-color:@Constants.ColorScheme["ComponentBackground"]">
    <h2 style="text-align:center">@(Level.Name + " Tier")</h2>
    <hr style="color:@Level.ColorScheme" />
    <div class="flex-c" style="justify-content:space-between;padding:1em">
        <div class="flex-c">
            <div style="text-align:start;width:100%">Contains some stff</div>
            <div style="text-align:center">@(Constants.Pretty(Level.MonthlyCharge) + "/Monthly")</div>
            <div style="text-align:center">@(Constants.Pretty(Level.YearlyCharge) + "/Yearly")</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Tier Level { get; set; }
}
