<style>
    .chart {
        padding: 1rem;
        border-radius: 12px;
        background-color: #f8dfff;
        text-align: center;
        display: flex;
        justify-content: space-around;
        height: 20rem;
    }

    .chart-back {
        width: 100%;
        padding: 1rem;
        border-radius: 12px;
        background-color: #f8dfff;
        text-align: center;
        display: inline-block;
        height: 23rem;
    }
</style>

<div class="chart-back">
    @if (!Mobile)
    {
        <div class="chart">
            @foreach (var dp in DPs)
            {
                <ChartBar Value=@dp.Value
                  Label=@dp.Label
                  Negative=@dp.Negative
                  MaxValue=@MaxValue
                  DateBarClicked=BarClicked />
            }
        </div>
    }
    else
    {
        <div class="chart" style="display:flex;justify-content:flex-start;flex-direction:row;overflow-x: auto;">
            @foreach (var dp in DPs)
            {
                <ChartBar Value=@dp.Value
                  Label=@dp.Label
                  Negative=@dp.Negative
                  MaxValue=@MaxValue
                  DateBarClicked=BarClicked />
            }
        </div>
    }
    <span style="color:black;">
        <strong>
            @(DateTime.Now.ToString("MMMM") + " (Day)")
        </strong>
    </span>
</div>

@code {
    [Parameter]
    public List<DataPoint> DPs { get; set; } = new List<DataPoint>();

    [Parameter]
    public EventCallback<string> BarClicked { get; set; }

    [Parameter]
    public bool Mobile { get; set; }

    private double MaxValue => DPs.Select(p => p.Value).Max();
}
