<div class="chart-back">
    @if (!Mobile)
    {
        <div class="chart">
            @foreach (var dp in DPs)
            {
                <ChartBar Value=@dp.Value
                    Label=@dp.Label
                    Negative=@dp.Negative
                    MaxValue=@MaxValue
                    DateBarClicked=BarClicked />
            }
        </div>
    }
    else
    {
        <div class="chart flex-r nobar" style="justify-content:flex-start;">
            @foreach (var dp in DPs)
            {
                <ChartBar Value=@dp.Value
                          Label=@dp.Label
                          Negative=@dp.Negative
                          MaxValue=@MaxValue
                          DateBarClicked=BarClicked />
            }
        </div>
    }
    <span style="color:black;">
        <strong>
            @(DateTime.Now.ToString("MMMM") + " (Day)")
        </strong>
    </span>
</div>

@code {
    [Parameter]
    public List<DataPoint> DPs { get; set; } = new List<DataPoint>();

    [Parameter]
    public EventCallback<string> BarClicked { get; set; }
        
    [Parameter]
    public double TheMax { get; set; }

    public bool Mobile => Constants.Mobile;

    private double MaxValue => TheMax > DPs.Select(p => p.Value).Max() ? TheMax : DPs.Select(p => p.Value).Max();
}
