@page "/pay"
@using BetterBudgetWeb.Repo
@inject NavigationManager NavMan

<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1Q2cxV2L4K66u9tvdCuax7Hb"
                      publishable-key="pk_test_51Q2DNf2L4K66u9tvGcuQV9KPwvSuJcwF3EVTNtBIQnHoX3VrX21cXVodQsBGiwFSvhVfZ2arUohyahSMBiafS4FU00YdP854MT">
</stripe-pricing-table>

@* <button @onclick=PlaceOrder class="btn btn-primary" >Submit</button> *@

@code {
    HttpClient client = new HttpClient();
    private async Task PlaceOrder()
    {
        string CheckoutUrl = await Checkout();
        NavMan.NavigateTo(CheckoutUrl);
    }
    private async Task<string> Checkout()
    {
        string url = await StripeRepo.CheckoutUrl();
        NavMan.NavigateTo(url);
        return url;
    }
}