@using System.Globalization;

<div class="expense-date">
    <div class="expense-date__month">@DayOfWeek</div>
    <div class="expense-date__year">@Month</div>
    <div class="expense-date__day">@Day</div>
</div>

@code {
    [Parameter]
    public DateTime TheDate { get; set; }

    [Parameter]
    public bool Mobile { get; set; }

    private string[] names => CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedDayNames;
    private string DayOfWeek => names[(int)TheDate.DayOfWeek];
    private string Day => TheDate.Day.ToString();
    private string Month => TheDate.ToString("MMMM");
    private string MonthDay => Month + " " + Day + ",";
    private string Year => TheDate.Year.ToString();
}
