@using BetterBudgetWeb.Data
@using BetterBudgetWeb.MainMenuItems
@using BetterBudgetWeb.Repo;
@using static BetterBudgetWeb.MainMenuItems.DonutChart
<div class="chart-back-hor" style="width:100%;">
    <div style="display:flex;flex-direction:row;width:100%;justify-content:space-evenly">
        <div style="display:flex;flex-direction:column">
            <span>INCOME</span>
            <input type="number" placeholder="Income" style="width:5vw;padding:0;margin:0;margin-bottom:1vh"
                   @bind=ProjectedIncomeAmountStr />
        </div>
        <div style="display:flex;flex-direction:column">
            <span>EXPENSES</span>
            <span style="color:@Constants.GoodOrBad(-(DynamicCostAmount + StaticCostAmount))">@Constants.Pretty(DynamicCostAmount + StaticCostAmount)</span>
        </div>
        <div style="display:flex;flex-direction:column">
            <span>NET</span>
            <span style="color:@Constants.GoodOrBad(ProjectedNetAmount)">@Constants.Pretty(ProjectedNetAmount)</span>
        </div>
    </div>
    @if (Expenses != null && Expenses.Count > 0)
    {
        <div>
            <DonutChart ChartId="@("donut_"+Month)" Expenses=@Expenses />
        </div>
    }
</div>

@code {
    public bool Mobile => Constants.Mobile;
    [Parameter]
    public int Month { get; set; }
    [Parameter]
    public double DynamicCostAmount { get; set; }
    [Parameter]
    public double StaticCostAmount { get; set; }

    public double incomeOverflow { get; set; }
    [Parameter]
    public double IncomeOverflow
    {
        get => incomeOverflow;
        set
        {
            if (incomeOverflow == value) return;
            incomeOverflow = value;
            IncomeOverflowChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<double> IncomeOverflowChanged { get; set; }

    [Parameter]
    public List<ExpenseAmount> Expenses { get; set; } = new List<ExpenseAmount>();

    public string projectedIncomeAmountStrOG { get; set; }
    public string projectedIncomeAmountStr { get; set; }    
    public string ProjectedIncomeAmountStr
    {
        get { return projectedIncomeAmountStr; }
        set
        {
            if (double.TryParse(value, out double tosser))
            {
                ProjectedIncomeAmount = tosser;
                IncomeOverflow = ProjectedNetAmount;
                projectedIncomeAmountStr = value;
            }
            else
            {
                ProjectedIncomeAmount = 0;
                projectedIncomeAmountStr = "";
            }
        }
    }

    [Parameter]
    public double ProjectedIncomeAmount { get; set; }

    public double ProjectedNetAmount => ProjectedIncomeAmount - DynamicCostAmount - StaticCostAmount;

    private List<SavingsGoal> ThisMonthSavingsGoals { get; set; } = new List<SavingsGoal>();

    protected override Task OnInitializedAsync()
    {
        SavingsGoal Default1 = Constants.SavingsGoals.FirstOrDefault(sg => sg.Person.Contains(Constants.Person1) && sg.Month == "All");
        SavingsGoal Default2 = Constants.SavingsGoals.FirstOrDefault(sg => sg.Person.Contains(Constants.Person2) && sg.Month == "All");

        if (Default1 == null || Default2 == null)
            return base.OnInitializedAsync();

        ThisMonthSavingsGoals.Add(Default1);
        ThisMonthSavingsGoals.Add(Default2);

        projectedIncomeAmountStrOG = ThisMonthSavingsGoals.Sum(tmsg => tmsg.Goal).ToString();
        ProjectedIncomeAmountStr = projectedIncomeAmountStrOG;

        return base.OnInitializedAsync();
    }
}
