@implements IDisposable
<PreviewGoodie ShiftDirection="end" Invert=true Title="We like to K.I.S.S (Keep It Stupid Simple)" Desc="Budgeting doesn't have to be complicated or overstimulating. Our straight-forward, intuitive designs make it easy to see what's coming & going all in one place. Even the less enthusiastic budgeteers will love our simplicity.">
    <div class="flex-c-start">
        <!--!--><!--!--><div class="flex-r" style="width:100%;justify-content:start;cursor:pointer;align-items:center;
            background-color:#384153;padding:.5em">
            <div class="flex-r" style="width:100%;justify-content:start;align-items:center;"><span style="margin-right:1em">Equity</span><!--!--><span class="oi oi-caret-bottom"></span></div><!--!-->

            <div style="align-self:end;color:forestgreen">$35,651.17</div>
        </div><!--!-->
        <!--!--><div id="Equity-drop" class="pop-up" style="height: fit-content;">
            <div style="padding-bottom:1em">
                <!--!--><div class="flex-r selected-account" style="flex-wrap:wrap;justify-content:space-between;
                                padding:0; margin: 0;cursor:pointer;
                                width:100%;border: 1px gray solid;background-image: linear-gradient(to left,indigo,#2c97ef);
                                    color:white">
                    <div style="align-self:flex-start"><div class="flex-c" style="justify-content:space-between;padding:0 0 0 .5vw; margin: 0"><label style="cursor:pointer;font-size:medium;align-self:flex-start;margin:0;"><strong>House</strong></label></div></div><!--!-->
                    <div class="slot-background" style="align-self:flex-end;padding:0; margin: 0;width:35%">
                        <div class="flex-c" style="justify-content:space-between;padding:0 .5vw 0 0; margin: 0">
                            <label class="income-good" style="cursor:pointer;font-size:medium;align-self:flex-end;margin:0">$35,651.17</label><!--!-->
                            <br>
                        </div>
                    </div>
                </div><!--!--><div id="monthly-House" class="pop-up">
                    <div style="height:fit-content;">
                        <!--!--><table style="width:100%;margin-bottom:1vh">
                            <tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for House</span></th></tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">04 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Equity</div><!--!-->
                                        <div style="text-align:start;color:silver">Equity</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="equity-good">$331.18</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--!-->
        <!--!--><div class="flex-r" style="width:100%;justify-content:start;cursor:pointer;align-items:center;
            background-color:#384153;padding:.5em">
            <div class="flex-r" style="width:100%;justify-content:start;align-items:center;"><span style="margin-right:1em">Income</span><!--!--><span class="oi oi-caret-bottom"></span></div><!--!-->

            <div style="align-self:end;color:forestgreen">$30,000.00</div>
        </div><!--!-->
        <!--!--><div id="Income-drop" class="pop-up" style="height: fit-content;">
            <div style="padding-bottom:1em">
                <!--!--><div class="flex-r selected-account" style="flex-wrap:wrap;justify-content:space-between;
                                padding:0; margin: 0;cursor:pointer;
                                width:100%;border: 1px gray solid;background-image: linear-gradient(to left,indigo,#097a9f);
                                    color:white">
                    <div style="align-self:flex-start"><div class="flex-c" style="justify-content:space-between;padding:0 0 0 .5vw; margin: 0"><label style="cursor:pointer;font-size:medium;align-self:flex-start;margin:0;"><strong>HYSA</strong></label></div></div><!--!-->
                    <div class="slot-background" style="align-self:flex-end;padding:0; margin: 0;width:35%">
                        <div class="flex-c" style="justify-content:space-between;padding:0 .5vw 0 0; margin: 0">
                            <label class="income-good" style="cursor:pointer;font-size:medium;align-self:flex-end;margin:0">$30,000.00</label><!--!-->
                            <br>
                        </div>
                    </div>
                </div><!--!--><div id="monthly-HYSA" class="pop-up"><div style="height:fit-content;"><!--!--><table style="width:100%;margin-bottom:1vh"><tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for HYSA</span></th></tr></table></div></div><!--!--><!--!--><div id="monthly-Shared-PNC" class="pop-up">
                    <div style="height:fit-content;">
                        <!--!--><table style="width:100%;margin-bottom:1vh">
                            <tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for Shared PNC</span></th></tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">13 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">UPS Paycheck</div><!--!-->
                                        <div style="text-align:start;color:silver">Income</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-good">$2,689.99</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">12 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Electric</div><!--!-->
                                        <div style="text-align:start;color:silver">Static Cost</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$263.03</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">09 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Amex Bill</div><!--!-->
                                        <div style="text-align:start;color:silver">Debt</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$938.39</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Visa Bill</div><!--!-->
                                        <div style="text-align:start;color:silver">Debt</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$300.71</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Discover Bill</div><!--!-->
                                        <div style="text-align:start;color:silver">Debt</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$1,179.46</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">03 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Transfer to Amex HYSA</div><!--!-->
                                        <div style="text-align:start;color:silver">Transfer</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$942.86</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Amex Bill</div><!--!-->
                                        <div style="text-align:start;color:silver">Debt</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$1,838.18</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Mortgage</div><!--!-->
                                        <div style="text-align:start;color:silver">Static Cost</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$2,397.51</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                        </table>
                    </div>
                </div><!--!--><!--!--><div id="monthly-Huntington" class="pop-up"><div style="height:fit-content;"><!--!--><table style="width:100%;margin-bottom:1vh"><tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for Huntington</span></th></tr></table></div></div><!--!--><!--!--><div id="monthly-PNC" class="pop-up">
                    <div style="height:fit-content;">
                        <!--!--><table style="width:100%;margin-bottom:1vh">
                            <tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for PNC</span></th></tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">13 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">UPS Paycheck</div><!--!-->
                                        <div style="text-align:start;color:silver">Income</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-good">$2,689.99</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">12 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Electric</div><!--!-->
                                        <div style="text-align:start;color:silver">Static Cost</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$263.03</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">09 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Amex Bill</div><!--!-->
                                        <div style="text-align:start;color:silver">Debt</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$938.39</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Visa Bill</div><!--!-->
                                        <div style="text-align:start;color:silver">Debt</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$300.71</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Discover Bill</div><!--!-->
                                        <div style="text-align:start;color:silver">Debt</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$1,179.46</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">03 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Transfer to Amex HYSA</div><!--!-->
                                        <div style="text-align:start;color:silver">Transfer</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$942.86</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Amex Bill</div><!--!-->
                                        <div style="text-align:start;color:silver">Debt</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$1,838.18</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Mortgage</div><!--!-->
                                        <div style="text-align:start;color:silver">Static Cost</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$2,397.51</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--!-->
        <!--!--><div class="flex-r" style="width:100%;justify-content:start;cursor:pointer;align-items:center;
            background-color:#384153;padding:.5em">
            <div class="flex-r" style="width:100%;justify-content:start;align-items:center;"><span style="margin-right:1em">Stocks</span><!--!--><span class="oi oi-caret-right"></span></div><!--!-->

            <div style="align-self:end;color:forestgreen">$30,931.28</div>
        </div><!--!-->
        <!--!--><div id="Stocks-drop" class="pop-up" style="height: 0px;">
            <div style="padding-bottom:1em">
                <!--!--><div class="flex-r selected-account" style="flex-wrap:wrap;justify-content:space-between;
                                padding:0; margin: 0;cursor:pointer;
                                width:100%;border: 1px gray solid;background-image: linear-gradient(to left,indigo,#c9f75e);
                                    color:black">
                    <div style="align-self:flex-start"><div class="flex-c" style="justify-content:space-between;padding:0 0 0 .5vw; margin: 0"><label style="cursor:pointer;font-size:medium;align-self:flex-start;margin:0;"><strong>Diane's Roth</strong></label><label style="font-size:smaller;margin:0;color:black"><i>Tradeable Cash: $1,000.00</i></label></div></div><!--!-->
                    <div class="slot-background" style="align-self:flex-end;padding:0; margin: 0;width:35%">
                        <div class="flex-c" style="justify-content:space-between;padding:0 .5vw 0 0; margin: 0">
                            <label class="income-good" style="cursor:pointer;font-size:medium;align-self:flex-end;margin:0">$12,725.55</label><!--!-->
                            <br>
                        </div>
                    </div>
                </div><!--!--><div id="monthly-Diane's-Roth" class="pop-up"><div style="height:fit-content;"><!--!--><table style="width:100%;margin-bottom:1vh"><tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for Diane's Roth</span></th></tr></table></div></div><!--!--><div class="flex-r selected-account" style="flex-wrap:wrap;justify-content:space-between;
                                padding:0; margin: 0;cursor:pointer;
                                width:100%;border: 1px gray solid;background-image: linear-gradient(to left,indigo,#8f32a9);
                                    color:white">
                    <div style="align-self:flex-start"><div class="flex-c" style="justify-content:space-between;padding:0 0 0 .5vw; margin: 0"><label style="cursor:pointer;font-size:medium;align-self:flex-start;margin:0;"><strong>Roth IRA</strong></label><label style="font-size:smaller;margin:0;color:white"><i>Tradeable Cash: $8.92</i></label></div></div><!--!-->
                    <div class="slot-background" style="align-self:flex-end;padding:0; margin: 0;width:35%">
                        <div class="flex-c" style="justify-content:space-between;padding:0 .5vw 0 0; margin: 0">
                            <label class="income-good" style="cursor:pointer;font-size:medium;align-self:flex-end;margin:0">$18,187.26</label><!--!-->
                            <br>
                        </div>
                    </div>
                </div><!--!--><div id="monthly-Roth-IRA" class="pop-up"><div style="height:fit-content;"><!--!--><table style="width:100%;margin-bottom:1vh"><tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for Roth IRA</span></th></tr></table></div></div><!--!--><div class="flex-r selected-account" style="flex-wrap:wrap;justify-content:space-between;
                                padding:0; margin: 0;cursor:pointer;
                                width:100%;border: 1px gray solid;background-image: linear-gradient(to left,indigo,#683cb9);
                                    color:white">
                    <div style="align-self:flex-start"><div class="flex-c" style="justify-content:space-between;padding:0 0 0 .5vw; margin: 0"><label style="cursor:pointer;font-size:medium;align-self:flex-start;margin:0;"><strong>Brokerage</strong></label><label style="font-size:smaller;margin:0;color:white"><i>Tradeable Cash: $0.99</i></label></div></div><!--!-->
                    <div class="slot-background" style="align-self:flex-end;padding:0; margin: 0;width:35%">
                        <div class="flex-c" style="justify-content:space-between;padding:0 .5vw 0 0; margin: 0">
                            <label class="income-good" style="cursor:pointer;font-size:medium;align-self:flex-end;margin:0">$18.46</label><!--!-->
                            <br>
                        </div>
                    </div>
                </div><!--!--><div id="monthly-Brokerage" class="pop-up"><div style="height:fit-content;"><!--!--><table style="width:100%;margin-bottom:1vh"><tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for Brokerage</span></th></tr></table></div></div>
            </div>
        </div><!--!-->
        <!--!--><div class="flex-r" style="width:100%;justify-content:start;cursor:pointer;align-items:center;
            background-color:#384153;padding:.5em">
            <div class="flex-r" style="width:100%;justify-content:start;align-items:center;"><span style="margin-right:1em">Credit Cards/Loans</span><!--!--><span class="oi oi-caret-bottom"></span></div><!--!-->

            <div style="align-self:end;color:red">-$424.37</div>
        </div><!--!-->
        <!--!--><div id="Credit-Cards-Loans-drop" class="pop-up" style="height: fit-content;">
            <div style="padding-bottom:1em">
                <!--!--><div class="flex-r selected-account" style="flex-wrap:wrap;justify-content:space-between;
                                padding:0; margin: 0;cursor:pointer;
                                width:100%;border: 1px gray solid;background-image: linear-gradient(to left,indigo,#0000ff);
                                    color:white">
                    <div style="align-self:flex-start"><div class="flex-c" style="justify-content:space-between;padding:0 0 0 .5vw; margin: 0"><label style="cursor:pointer;font-size:medium;align-self:flex-start;margin:0;"><strong>Amex</strong></label></div></div><!--!-->
                    <div class="slot-background" style="align-self:flex-end;padding:0; margin: 0;width:35%">
                        <div class="flex-c" style="justify-content:space-between;padding:0 .5vw 0 0; margin: 0">
                            <label class="income-bad" style="cursor:pointer;font-size:medium;align-self:flex-end;margin:0">$424.37</label><!--!-->
                            <br>
                        </div>
                    </div>
                </div><!--!--><div id="monthly-Amex" class="pop-up">
                    <div style="height:fit-content;">
                        <!--!--><table style="width:100%;margin-bottom:1vh">
                            <tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for Amex</span></th></tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">14 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">UDF</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$4.75</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">UDF</div><!--!-->
                                        <div style="text-align:start;color:silver">Gifts</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$17.50</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">13 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Jungle Jim's</div><!--!-->
                                        <div style="text-align:start;color:silver">Grocery</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$107.76</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Trivia</div><!--!-->
                                        <div style="text-align:start;color:silver">Fun</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$28.23</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">12 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Establishing LLC</div><!--!-->
                                        <div style="text-align:start;color:silver">Fun</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$203.00</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">09 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">New China</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$20.89</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">08 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Noodles and Company</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$21.35</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">06 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Halloween Costume</div><!--!-->
                                        <div style="text-align:start;color:silver">Unexpected Adulting</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$55.49</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Dunkin</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$50.00</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">05 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Larosa's</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$7.99</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">04 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Garage Keypad</div><!--!-->
                                        <div style="text-align:start;color:silver">House Things</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$40.78</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Garage Wall Opener</div><!--!-->
                                        <div style="text-align:start;color:silver">House Things</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$30.95</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                        </table>
                    </div>
                </div><!--!--><!--!--><div id="monthly-Mastercard" class="pop-up">
                    <div style="height:fit-content;">
                        <!--!--><table style="width:100%;margin-bottom:1vh">
                            <tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for Mastercard</span></th></tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">14 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Noodles and Company</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$13.24</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Kroger</div><!--!-->
                                        <div style="text-align:start;color:silver">Gifts</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$100.00</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Kroger</div><!--!-->
                                        <div style="text-align:start;color:silver">Grocery</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$91.98</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Dunkin</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$5.08</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">13 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">FedEx Paycheck</div><!--!-->
                                        <div style="text-align:start;color:silver">Income</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-good">$2,112.38</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">09 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Flame</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$6.99</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Mastercard Bill</div><!--!-->
                                        <div style="text-align:start;color:silver">Debt</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="debt">$873.39</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">06 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Kroger</div><!--!-->
                                        <div style="text-align:start;color:silver">Gas</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$23.17</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Dunkin</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$5.08</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">04 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Car Bill</div><!--!-->
                                        <div style="text-align:start;color:silver">Static Cost</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$676.72</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">01 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Thomas Rhett Record</div><!--!-->
                                        <div style="text-align:start;color:silver">Fun</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$30.00</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Food</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$23.73</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                        </table>
                    </div>
                </div><!--!--><!--!--><div id="monthly-Visa" class="pop-up">
                    <div style="height:fit-content;">
                        <!--!--><table style="width:100%;margin-bottom:1vh">
                            <tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for Visa</span></th></tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">13 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Costco</div><!--!-->
                                        <div style="text-align:start;color:silver">Grocery</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$4.79</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Costco</div><!--!-->
                                        <div style="text-align:start;color:silver">Grocery</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$190.74</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">01 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Mac Bread Bowl</div><!--!-->
                                        <div style="text-align:start;color:silver">Eating Out</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$14.00</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Kettle Corn</div><!--!-->
                                        <div style="text-align:start;color:silver">Fun</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$18.00</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Brother Gas</div><!--!-->
                                        <div style="text-align:start;color:silver">Gifts</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$5.90</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                        </table>
                    </div>
                </div><!--!--><!--!--><div id="monthly-Discover" class="pop-up">
                    <div style="height:fit-content;">
                        <!--!--><table style="width:100%;margin-bottom:1vh">
                            <tr style="height:3vw"><th style="background-color: #384153;padding:0 1vw;" colspan="100%"><span>Transactions</span><span> for Discover</span></th></tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">15 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">YMCA</div><!--!-->
                                        <div style="text-align:start;color:silver">Static Cost</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$47.85</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">13 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Astro Bot</div><!--!-->
                                        <div style="text-align:start;color:silver">Fun</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$64.67</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">CBB Domain</div><!--!-->
                                        <div style="text-align:start;color:silver">Unexpected Adulting</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$79.80</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">06 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Phone</div><!--!-->
                                        <div style="text-align:start;color:silver">Static Cost</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$187.95</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">04 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Travel Stuff</div><!--!-->
                                        <div style="text-align:start;color:silver">Dog Stuff</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$149.42</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">03 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Phone Payoff</div><!--!-->
                                        <div style="text-align:start;color:silver">Unexpected Adulting</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$216.57</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">02 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Water Leak Batteries</div><!--!-->
                                        <div style="text-align:start;color:silver">House Things</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$9.64</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                            <tr style="border:1px black solid;background-color: #203957;"><td colspan="100%"><div style="padding-left:1em;text-align:left">01 Oct</div></td></tr>
                            <tr style="border:1px black solid;background-color: #384153;">
                                <td class="flex-r" style="justify-content:start;border:none">
                                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                                        <div style="color:white;text-align:start">Amazon</div><!--!-->
                                        <div style="text-align:start;color:silver">Unexpected Adulting</div>
                                    </div>
                                </td>
                                <td style="height:100%;border:none"><div class="income-bad">$39.46</div></td>
                                <td style="height:100%;border:none"><div class="flex-r" style=""><button class="btn btn-secondary" style="background-color:transparent;margin:.5vh;height:5vh;"><!--!--><span class="oi oi-pencil"></span></button><button class="btn" style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;"><!--!--><span class="bi bi-trash" style="color:red"></span></button></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</PreviewGoodie>

@code {
    protected override async Task OnInitializedAsync()
    {
        Constants.MobileChanged += MobileUpdated;
    }
    private void MobileUpdated(object sender, bool m)
    {
        StateHasChanged();
    }
    public void Dispose()
    {
        Constants.MobileChanged -= MobileUpdated;
    }
}
