<PreviewGoodie ShiftDirection="end" Invert=true Title="No need for a boring spreadsheet" Desc="Don't worry about trying to save everything in a workbook, let us do it for you! We help you track all of your transactions so you can take your mind off balancing your books.">
    <div style="padding:1em">
        <div class="chart-back">
            <div class="chart">
                <div class="chart-bar">
                    <div class="chart-bar__label" style="color:red">$131.09</div><div class="chart-bar__inner"><div class="chart-bar__fill-bad" style="height:5%"></div></div><!--!-->
                    <div class="chart-bar__label">1</div>
                </div>
                <div class="chart-bar">
                    <div class="chart-bar__label" style="color:red">$9.64</div><div class="chart-bar__inner"><div class="chart-bar__fill-bad" style="height:0%"></div></div><!--!-->
                    <div class="chart-bar__label">2</div>
                </div>
                <div class="chart-bar">
                    <div class="chart-bar__label" style="color:red">$2,614.09</div><div class="chart-bar__inner"><div class="chart-bar__fill-bad" style="height:97%"></div></div><!--!-->
                    <div class="chart-bar__label">3</div>
                </div>
                <div class="chart-bar">
                    <div class="chart-bar__label" style="color:forestgreen">$2,700.07</div><div class="chart-bar__inner"><div class="chart-bar__fill" style="height:100%"></div></div><!--!-->
                    <div class="chart-bar__label">4</div>
                </div>
                <div class="chart-bar">
                    <div class="chart-bar__label" style="color:red">$7.99</div><div class="chart-bar__inner"><div class="chart-bar__fill-bad" style="height:0%"></div></div><!--!-->
                    <div class="chart-bar__label">4</div>
                </div>
                <div class="chart-bar">
                    <div class="chart-bar__label" style="color:red">$321.68</div><div class="chart-bar__inner"><div class="chart-bar__fill-bad" style="height:12%"></div></div><!--!-->
                    <div class="chart-bar__label">6</div>
                </div>
                <div class="chart-bar">
                    <div class="chart-bar__label" style="color:red">$21.35</div><div class="chart-bar__inner"><div class="chart-bar__fill-bad" style="height:1%"></div></div><!--!-->
                    <div class="chart-bar__label">7</div>
                </div>
            </div><span style="color:black;"><strong>October (Day)</strong></span>
        </div>
    </div>
</PreviewGoodie>