@page "/features"

@using BetterBudgetWeb.Repo
@using Stripe
@inject NavigationManager NavMan

<PageTitle>Features</PageTitle>

<div class="flex-c-start" style="height:fit-content">
    <h1 class="flex-r-100" style="font-family: 'CBB Default';color:cyan">Features</h1>
    <div class="flex-c" style="align-items:center">
        <div class="flex-c-start" style="border:solid gray 2px;border-radius:10px">
            <div class="flex-r-100">
                <h3 style="padding:1em">What's included in a subscription?</h3>
            </div>
            @if (Products != null)
            {
                @if (!Constants.AllFree)
                {
                    <div class="flex-r" style="padding:.5em">
                        <span class="@Constants.Options(ShowMonthly,"sel-span","unsel-span")" @onclick=ToggleMonthly>Monthly</span>
                        <span class="@Constants.Options(ShowMonthly,"unsel-span","sel-span")" @onclick=ToggleMonthly>Yearly</span>
                    </div>
                }
                <div class="flex-c-start" style="justify-content:space-evenly;padding-bottom:5%">
                    @foreach (var prod in Products)
                    {
                        <TierListing TheProduct=prod Prices="ProductPrices[prod.Id]" Monthly="ShowMonthly" />
                    }
                </div>
            }
            else
            {
                @if (Constants.AllFree)
                {
                    <div class="flex-c-start" style="justify-content:space-evenly;padding-bottom:5%">
                        <!--!--><div class="flex-r-100" style="justify-content:space-evenly;padding:0% 5%;">
                            <div class="flex-c-start"></div><!--!-->
                            <div class="flex-c-start" style="width:100%;"><div><!--!--><span class="oi oi-circle-check"></span> Track account transactions</div><div><!--!--><span class="oi oi-circle-check"></span> Utilize savings envelopes</div><div><!--!--><span class="oi oi-circle-check"></span> Record recurring transactions</div><div><!--!--><span class="oi oi-circle-check"></span> Export data to CSV</div></div>
                        </div><!--!--><div class="flex-r-100" style="justify-content:space-evenly;padding:0% 5%;">
                            <div class="flex-c-start"></div><!--!-->
                            <div class="flex-c-start" style="width:100%;"><div><!--!--><span class="oi oi-circle-check"></span> Ability to track stocks, ETFs &amp; cryptocurrencies [BETA]</div><div><!--!--><span class="oi oi-circle-check"></span> Forecast your expenses and net worth in later months</div><div><!--!--><span class="oi oi-circle-check"></span> Add transaction presets for frequently made purchases</div></div>
                        </div>
                    </div>
                }
                else
                {
                    <LoadingDots />
                }
            }
        </div>
    </div>
</div>

@code {
    private bool ShowMonthly { get; set; } = true;
    private IEnumerable<Product> Products;
    private StripeList<Price> Prices;
    private Dictionary<string, IEnumerable<Price>> ProductPrices;

    protected override async Task OnInitializedAsync()
    {
        if (!Constants.AllFree)
        {
            Products = await StripeRepo.GetProducts();
            Prices = await StripeRepo.GetPrices();

            ProductPrices = new Dictionary<string, IEnumerable<Price>>();

            foreach (var prod in Products)
            {
                ProductPrices[prod.Id] = Prices.Where(p => p.ProductId == prod.Id);

                var price = ProductPrices[prod.Id].FirstOrDefault(p => p.Recurring.Interval == "month");
                if (price == null)
                    continue;
                prod.DefaultPrice = price;
            }
            Products = Products.OrderBy(p => p.DefaultPrice.UnitAmount);
        }
    }

    private void ToggleMonthly()
    {
        ShowMonthly = !ShowMonthly;
        StateHasChanged();
    }
}
