@page "/"
@implements IDisposable


<PageTitle>Landing Page</PageTitle>

@using BetterBudgetWeb.Data
@using BetterBudgetWeb.MainMenuItems.Chart
@using BetterBudgetWeb.Runner
@using BetterBudgetWeb.Shared.PreviewGoodies
@inject NavigationManager NavMan
@inject IJSRuntime jsRuntime

<div class="flex-r-100" style="height:@Constants.TestMobile("fit-content","100%");">
    @if (!Constants.Mobile)
    {
        <div class="slide-right flex-c" style="height:100%">
            <h1 style="font-size:8em;font-family:'CBB Default';">Helping you reach your goals together</h1>
        </div>
    }
    <div class="flex-c-start slide-up" style="padding:1em;margin-bottom:0;width:@(Constants.Mobile ? "100%" : "50%")">
        @if (Constants.Mobile)
        {
            <div class="flex-c" style="text-align:center">
                <h1 style="font-size:3em;font-family:'CBB Default';">Helping you reach your goals together</h1>
            </div>
        }
        <div class="flex-r">
            <img fetchpriority="high" src="/images/RoundLogo.webp" alt="Logo image" style="width:50%;" />
        </div>
        <div class="flex-c-start" style="align-items:center">
            <span style="font-family:'CBB Default';font-size:xx-large;text-align:center">Start your commitment-free trial today</span>
            <button class="btn btn-primary" @onclick=@(() => NavMan.NavigateTo("sign/up")) style="width:90%;font-size:large;font-family:'CBB Default';color:black;background-color:cyan">@Constants.SignUpText</button>
        </div>
    </div>
</div>
<StubChart />
<StubKISS />
<StubEnvelopes />
<StubSpending />
<div class="flex-r" style="align-items:center;flex-wrap:wrap">
    <h4 style="font-family:'CBB Default';margin:1em;text-align:center">
        Still not convinced? Try our demo and see how easy we make budgeting for couples!
    </h4>
</div>

@code {

    private bool LoadingDemo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Constants.MobileChanged += MobileUpdated;
        Constants.MobileApp = NavMan.BaseUri.Contains("mobile.");
    }
    private void MobileUpdated(object sender, bool m)
    {
        StateHasChanged();
    }
    public void Dispose()
    {
        Constants.MobileChanged -= MobileUpdated;
    }
}
