@using BetterBudgetWeb.Data
@using BetterBudgetWeb.Runner
@using BetterBudgetWeb.Shared.General
@using BetterBudgetWeb.Shared.PricingStuff
@inject NavigationManager NavMan
@inject IJSRuntime jsRuntime
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div style="height:fit-content">
    @if (!Constants.Mobile)
    {
        <div id="land-top" class="flex-r"
             style="background-color:indigo;justify-content:space-between;width:100%;position:fixed;padding:0 1em;align-items:center;z-index:1">
            <div class="flex-r" style="align-items:center;width:fit-content;justify-content:start;padding:2px 0;">
                <img src="images/RoundLogo.png" style="width:6.5vw;padding:2px 1vw;cursor:pointer" @onclick=@(() => NavMan.NavigateTo("")) />
                @if (!Constants.Mobile)
                {
                    <div class="flex-c" style="height:50%;">
                        @if (!LoadingDemo)
                        {
                            <button style="background-color:transparent;font-family:'CBB Default';"
                                    class="btn-grad"
                                    @onclick=GetDemo>
                                View Demo
                            </button>
                        }
                        else
                        {
                            <div class="slide-right" style="width:100%">
                                <div style="font-size:large;color:white;font-family:'CBB Default';padding:1em">Loading Demo...</div>
                            </div>
                        }
                    </div>
                }
            </div>

            @if (!LoadingDemo && !Constants.Mobile)
            {
                <div class="ps-3 navbar-dark flex-r">
                    <a class="navbar-brand navbtn" href="pricing" style="font-family:'CBB Default'; text-align:center;cursor:pointer">
                        <span aria-hidden="true"></span> Pricing
                    </a>
                    <a class="navbar-brand navbtn" href="FAQs" style="font-family:'CBB Default'; text-align:center;cursor:pointer">
                        <span aria-hidden="true"></span> FAQs
                    </a>
                </div>
                <div class="flex-r" style="align-items:center">
                    <a href="sign/in" style="font-family:'CBB Default';margin-right:1em;font-size:large;color:white">Log in</a>
                    <button class="btn btn-primary" @onclick=@(() => NavMan.NavigateTo("sign/up")) style="font-size:large;font-family:'CBB Default';color:black;background-color:cyan">Start 45-Day Trial</button>
                </div>
            }
        </div>
    }
    else
    {
        <LandingNavMenu />
    }
    <div class="flex-r" style="height:fit-content;flex-wrap:wrap;margin-top:@(Constants.TestMobile(HeightTopBar,HeightTopBar));">
        <CascadingValue Value="GrabDemo">
            @ChildContent
        </CascadingValue>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    EventCallback GrabDemo => EventCallback.Factory.Create(this, GetDemo);

    private double heightTopBar = 0;
    private string HeightTopBar => heightTopBar + "px";

    private bool LoadingDemo { get; set; }
    ValueTask<bool> DeviceCheck { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Constants.Token = "";
        Constants.CUR_USER_NAME = "";
        Constants.TIER_LEVEL = Tier.TRIAL;
        Constants.TIER_STATUS = "active";
        Constants.catchAll = new CatchAll();
        Constants.WeIn = false;
        try
        {
            DeviceCheck = jsRuntime.InvokeAsync<bool>("isDevice");
            Constants.Mobile = await DeviceCheck;
        }
        catch (Exception e)
        {
            Constants.Mobile = false;
        }
        await sessionStorage.SetItemAsync("token", "");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (heightTopBar <= 0)
            {
                string id = await DeviceCheck ? "land-top-mobile" : "land-top";
                double startH = heightTopBar;
                var holder = await jsRuntime.InvokeAsync<string>("ElementHeight", id);
                if (holder == "0")
                    heightTopBar = -1;
                else
                {
                    heightTopBar = Convert.ToDouble(holder);
                    if (heightTopBar != startH)
                        StateHasChanged();
                }
            }
        }
        catch (Exception e)
        {

        }
    }

    private async void GetDemo()
    {
        LoadingDemo = true;
        await Task.Delay(10);
        await CatchAllRunner.GrabDemo();
        Constants.WeIn = true;

        NavMan.NavigateTo("home");

        StateHasChanged();
    }
}
