@page "/subscribe"
@inject NavigationManager NavMan

<h3 class="plain-announce">Thank you for subscribing! When you are finished, login again to see any necessary updates reflected on your account.</h3>
<div class="flex-r">
    <button class="btn-grad" @onclick=@(() => NavMan.NavigateTo("/sign/in"))>Log in</button>
</div>

@code {

}
