<div class="footer" style="width:100%;">
    <div class="flex-r" style="min-height:1em;height:fit-content;justify-content:center">
        <a style="text-align:center;padding-right:1em" href="Policy.html" onclick="window.open('Policy.html',
                         'newwindow',
                         'width=300,height=250');return false;">Privacy Policy</a>
        |
        <a style="text-align:center;padding-left:1em" href="mailto:couplesbetterbudget.com">Contact Us</a>
    </div>
</div>

@code {

}
