<footer style="width:50%;margin:1em auto">
    <div class="flex-r" style="width:100%;min-height:1em;height:fit-content;">
        <a style="text-align:center" href="Policy.html" onclick="window.open('Policy.html',
                         'newwindow',
                         'width=300,height=250');return false;">Privacy Policy</a>
    </div>
</footer>

@code {

}
