@using BetterBudgetWeb.Data;
@using BetterBudgetWeb.Runner;
<hr style="margin:0" />
<div style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;padding:0; margin: 0;cursor:pointer;" @onclick=Clicked>
    <div style="align-self:flex-start">
        <div style="display:flex;flex-direction:column;justify-content:space-between;padding:0 0 0 .5vw; margin: 0">
            <label style="cursor:pointer;font-size:medium;align-self:flex-start;margin:0;"><strong>@TheBalance.Name</strong></label>
        </div>
    </div>
    <div style="align-self:flex-end;padding:0; margin: 0;">
        <div style="display:flex;flex-direction:column;justify-content:space-between;padding:0 .5vw 0 0; margin: 0">
            <label style="cursor:pointer;font-size:medium;align-self:flex-end;margin:0">@Constants.Pretty(TheBalance.GetValueWithStock())</label>
            <label class="income-good" style="cursor:pointer;font-size:smaller;align-self:flex-end;margin:0"><i>@("Tradeable Cash: " + Constants.Pretty(TheBalance.Value))</i></label>
            <br/>
        </div>
    </div>
</div>
<hr style="margin:0" />

@code {
    [Parameter]
    public Balance TheBalance { get; set; }
    [Parameter]
    public EventCallback<Balance> OnClick { get; set; }

    private Task Clicked()
    {
        return OnClick.InvokeAsync(TheBalance);
    }
}
