@inject IJSRuntime JSRuntime
<div id="@ChartId"></div>

@code {
    [Parameter]
    public string ChartId { get; set; } //'chart_div'

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) DrawLineChart();
        base.OnAfterRender(firstRender);
    }

    public async void DrawLineChart()
    {
        var json = System.Text.Json.JsonSerializer.Serialize(new string[2]);
        await JSRuntime.InvokeAsync<object>("drawLineChart", json, ChartId);
    }
}
