@using BetterBudgetWeb.Data
@inject IJSRuntime JSRuntime
@if (Showing)
{
    @* #384152 *@
    <div style="height:inherit;width:100%;display:flex;flex-direction:row;justify-content:center;align-content:center;
                background-color:transparent;border-radius:5px;border:solid silver 2px;padding:0;margin:@Margin">
        <div id="@ChartId" style="height:100%;width:100%;"></div>
    </div>
}

@code {
    [Parameter]
    public string ChartId { get; set; } = "chart_div";
    [Parameter]
    public List<LinePlot> Plots
    {
        get { return plots; }
        set
        {
            if (plots != value && value.Count > 0)
            {
                plots = value;
                DrawLineChart();
            }
            else
                plots = value;
        }
    }
    [Parameter]
    public string Margin { get; set; } = "0 0 1em 0";
    public bool Showing => Plots != null && Plots.Count > 1;
    public List<LinePlot> plots { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && Showing) DrawLineChart();
        base.OnAfterRender(firstRender);
    }

    public async void DrawLineChart()
    {
        var json = System.Text.Json.JsonSerializer.Serialize(Plots.ToArray());
        try
        {
            await JSRuntime.InvokeAsync<object>("drawLineChart", json, ChartId);
        }
        catch(Exception e){}
    }
}
