@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div class="navbar navbar-dark sticky" style="padding:0;background-color:midnightblue;z-index:1">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@(Constants.WebWho)</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="width:100%">
        <div style="position: relative; top:.3vw; right:1vw; height:4vh; vertical-align:middle;display:flex;justify-content:right">
            <span style='position:relative;font-size:large;top:1vw;text-align:center;color:white'>@(Constants.DarkMode ? "Dark Mode:" : "Light Mode:")&nbsp;</span>
            <label class="switch">
                <input type="checkbox" @bind=DarkMode>
                <span class="slider round"></span>
            </label>
        </div>
        <br />
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="input">
                    <span class="oi oi-plus" aria-hidden="true"></span> Input
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="delete">
                    <span class="oi oi-minus" aria-hidden="true"></span> Delete
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="update">
                    <span class="oi oi-arrow-thick-top" aria-hidden="true"></span> Update
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="portfolio">
                    <span class="oi oi-dollar" aria-hidden="true"></span> Portfolio
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="forecast">
                    <span class="oi oi-sun"></span> Forecast
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <a href="" style="text-align:right;float:right;color:white;" @onclick=SignOut>Sign out</a>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool darkMode;

    [Parameter]
    public bool DarkMode
    {
        get => darkMode;
        set
        {
            if (darkMode == value) return;
            darkMode = value;

            DarkModeChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<bool> DarkModeChanged { get; set; }

    [Parameter]
    public Action LogOff { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async void SignOut(){
        if (LogOff != null)
            LogOff();
    }
}
