<tr>
    <td colspan="3" style="border:none;text-align:start"><strong>@(Title + ":")</strong></td>
</tr>
<tr>
    <td style="border:none">@Constants.Person1</td>
    <td style="border:none">@Constants.Person2</td>
    <td style="border:none">Total</td>
</tr>
<tr style="background-color:transparent;">
    <td style="padding-bottom:2em;border:none;@(SetColors ? "color:" + Constants.GoodOrBad(Spot1) : "")">
        @ShownSpot1
    </td>
    <td style="padding-bottom:2em;border:none;@(SetColors ? "color:" + Constants.GoodOrBad(Spot2) : "")">
        @ShownSpot2
    </td>
    <td style="padding-bottom:2em;border:none;@(SetColors ? "color:" + Constants.GoodOrBad(Spot3) : "")">
        @ShownSpot3
    </td>
</tr>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public double Spot1 { get; set; }
    [Parameter]
    public double Spot2 { get; set; }
    [Parameter]
    public double Spot3 { get; set; }
    [Parameter]
    public bool SetColors { get; set; } = true;
    [Parameter]
    public bool Beautify { get; set; } = true;

    private string ShownSpot1 => Beautify ? Constants.Pretty(Spot1) : Spot1.ToString();
    private string ShownSpot2 => Beautify ? Constants.Pretty(Spot2) : Spot2.ToString();
    private string ShownSpot3 => Beautify ? Constants.Pretty(Spot3) : Spot3.ToString();
}
