@using BetterBudgetWeb.Data
@using BetterBudgetWeb.Repo

<div class="tabcontent">
    <div style="float:left;margin-right:10vw;">
        <label>Account Name:</label>
        <br />
        <FancySelect @bind-Value="Name">
            <option value="@string.Empty" selected disabled="disabled">(Select Account)</option>
            @foreach (var bal in Balances.OrderBy(b => b.Name))
            {
                <option value="@bal.Name">@bal.Name</option>
            }
        </FancySelect>
    </div>

    <br style="clear:both" />
    <br style="clear:both" />
    <button class="btn btn-primary" disabled=@Disabled @onclick="Submit">Delete</button>
    <br />

    @if (!string.IsNullOrEmpty(ErrorMsg))
    {
        <p style="color:@ErrorColor">@ErrorMsg</p>
    }
</div>
<br />

@code {
    private List<Data.Balance> Balances => Constants.Balances;

    private string name;
    string Name { get; set; }

    private string ErrorMsg { get; set; } = string.Empty;
    private string ErrorColor { get; set; } = "red";

    private bool Disabled;

    protected override async Task OnInitializedAsync()
    {
        //await BalanceRepo.GetBalancesAsync();
    }

    public async Task Submit()
    {
        Disabled = true;
        ErrorMsg = string.Empty;
        ErrorColor = "red";

        if (string.IsNullOrEmpty(Name))
            ErrorMsg += "Please select an account.\n";

        if (string.IsNullOrEmpty(ErrorMsg))
        {
            var ChosenOne = Balances.FirstOrDefault(e => e.Name == Name);

            await BalanceRepo.RemoveAsync(ChosenOne);
            Constants.Balances = new List<Data.Balance>(Balances);

            ErrorColor = "green";
            ErrorMsg = $"Account called '{Name}' was deleted!";

            Name = string.Empty;
        }

        Disabled = false;
        StateHasChanged();
    }
}