@using BetterBudgetWeb.Data
@using System.Globalization
@inject NavigationManager NavMan
@implements IDisposable
@inject NavigationManager NavMan

<div id="bottom-bar" class="navbar-dark" style="position:sticky;bottom:0;padding:0;background-color:indigo;width:100%;z-index:10">
    <div class="flex-r-100" style="justify-content:space-around">
        <div class="flex-c" style="align-items:center;color:@(Constants.CurPage == "Home" ? "cyan" : "white")" @onclick=@(async () => await ButtonClicked("home"))>
            <BottomButton ClassName="oi-home" Title="Home" @bind-Loading=@DictionaryLoading["home"] />
        </div>
        <div class="flex-c" style="align-items:center;color:@(Constants.CurPage == "Input" ? "cyan" : "white")" @onclick=@(async () => await ButtonClicked("input"))>
            <BottomButton ClassName="oi-plus" Title="Input" @bind-Loading=@DictionaryLoading["input"] />
        </div>
        @if (ShowPortfolio)
        {
            @* <AdvancedWrapper > *@
            <div class="flex-c" style="align-items:center;color:@(Constants.CurPage == "Portfolio" ? "cyan" : "white")" @onclick=@(async () => await ButtonClicked("portfolio"))>
                <BottomButton ClassName="oi-dollar" Title="Portfolio" @bind-Loading=@DictionaryLoading["portfolio"] />
            </div>
            @* </AdvancedWrapper> *@
        }
        @if (ShowChart)
        {
            <div class="flex-c" style="align-items:center;color:@(Constants.CurPage == "Chart" ? "cyan" : "white")" @onclick=@(async () => await ButtonClicked("chart"))>
                <BottomButton ClassName="oi-bar-chart" Title="Chart" @bind-Loading=@DictionaryLoading["chart"] />
            </div>
        }
        @if (ShowForecast)
        {
            @* <AdvancedWrapper> *@
            <div class="flex-c" style="align-items:center;color:@(Constants.CurPage == "Forecast" ? "cyan" : "white")" @onclick=@(async () => await ButtonClicked("forecast"))>
                <BottomButton ClassName="oi-sun" Title="Forecast" @bind-Loading=@DictionaryLoading["forecast"] />
            </div>
            @* </AdvancedWrapper> *@
        }
    </div>

</div>

@code {
    private bool collapseNavMenu = true;
    private string ThePageTitle => ToTitleCase(NavMan.Uri.Replace(NavMan.BaseUri, ""));
    private string ThePageTitle2 => NavMan.Uri;

    private bool ShowPortfolio => Constants.Balances != null && Constants.TIER_LEVEL > Tier.BASIC_TIER;
    private bool ShowChart => Constants.Transactions != null && Constants.Transactions.Count > 0;
    private bool ShowForecast => Constants.Monthlies != null && Constants.Monthlies.Count > 0 && Constants.TIER_LEVEL > Tier.BASIC_TIER;

    private Dictionary<string,bool> DictionaryLoading = new()
    {
        {"home", false }
        ,{"input", false }
        ,{"portfolio", false }
        ,{"chart", false }
        ,{"forecast", false }
    };

    [CascadingParameter]
    public EventCallback LogOff { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override Task OnInitializedAsync()
    {
        Constants.CurPageChanged += CurPageUpdated;
        return base.OnInitializedAsync();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task ButtonClicked(string url)
    {
        DictionaryLoading[url] = true;
        await Task.Delay(10);
        NavMan.NavigateTo("/"+url);
        DictionaryLoading[url] = false;
        await Task.Delay(10);
    }

    private string ToTitleCase(string txt)
    {
        TextInfo txtInfo = new CultureInfo("en-us", false).TextInfo;
        return txtInfo.ToTitleCase(txt);
    }

    private void CurPageUpdated(object sender, string cp)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        Constants.CurPageChanged -= CurPageUpdated;
    }
}
