@using BetterBudgetWeb.Data
@using BetterBudgetWeb.Runner
@inject NavigationManager NavMan

<div id="main-bar" class="navbar-dark" style="position:fixed;top:0;padding:0;background-color:indigo;width:100%;z-index:1">
    <div class="flex-r" style="width:100%;padding:1em;justify-content:space-between;align-items:center">

        <img src="images/RoundLogo.webp" alt="Logo image" style="width:10vh;height:fit-content;padding:2px;cursor:pointer" @onclick=@(() => NavMan.NavigateTo("")) />
        <button class="btn btn-primary" @onclick=@(() => NavMan.NavigateTo("sign/up")) style="font-size:large;font-family:'CBB Default';color:black;background-color:cyan">Start 45-Day Trial</button>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="width:100%;height:fit-content;overflow:auto">
        <nav class="flex-column" style="justify-content:start">
            <div class="nav-item px-1">
                <NavLink href="" class="nav-link" Match="NavLinkMatch.All" style="font-size:large">
                    <span style="font-family:'CBB Default';color:white">Home</span>
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <NavLink href="pricing" class="nav-link" Match="NavLinkMatch.All" style="font-size:large">
                    <span style="font-family:'CBB Default';color:white">Pricing</span>
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <NavLink href="FAQs" class="nav-link" Match="NavLinkMatch.All" style="font-size:large">
                    <span style="font-family:'CBB Default';color:white">FAQs</span>
                </NavLink>
            </div>
            <div class="flex-r-100" style="justify-content:end;align-items:center">
                <div style="font-family:'CBB Default';color:white;padding:1em" @onclick=@(()=>NavMan.NavigateTo("sign/in"))>Log in</div>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
