@page "/"

<PageTitle>Landing Page</PageTitle>

@using BetterBudgetWeb.Data
@using BetterBudgetWeb.MainMenuItems.Chart
@using BetterBudgetWeb.Runner
@using BetterBudgetWeb.Shared.PreviewGoodies
@inject NavigationManager NavMan
@inject IJSRuntime jsRuntime

<div class="flex-r-100" style="height:@Constants.TestMobile("fit-content","100%");">
    @if (!Constants.Mobile)
    {
        <div class="slide-right flex-c" style="height:100%">
            <h1 style="font-size:8em;font-family:'CBB Default';">Helping you reach your goals together</h1>
        </div>
    }
    <div class="flex-c-start slide-up" style="padding:1em;margin-bottom:0;width:@(Constants.Mobile ? "100%" : "50%")">
        <div class="flex-r">
            <img src="/images/RoundLogo.webp" alt="Logo image" style="width:50%;" />
        </div>
        <div class="flex-c-start" style="align-items:center">
            <span style="font-family:'CBB Default';font-size:xx-large;text-align:center">Start your commitment-free trial today</span>
            @if (Constants.Mobile)
            {
                @if (!LoadingDemo)
                {
                    <button style="background-color:transparent;padding:1em;font-family:'CBB Default';"
                            class="btn-grad"
                            @onclick=LoadDemo>
                        View Demo
                    </button>
                }
                else
                {
                    <div style="font-size:large;color:white;font-family:'CBB Default'">Loading Demo...</div>
                }
            }
            else
            {
                <button class="btn btn-primary" @onclick=@(() => NavMan.NavigateTo("sign/up")) style="width:90%;font-size:large;font-family:'CBB Default';color:black;background-color:cyan">Start 45-Day Trial</button>
            }
        </div>
    </div>
</div>
<StubChart />
<StubSpending />
<StubEnvelopes />
<div class="flex-r" style="align-items:center;flex-wrap:wrap">
    <h4 style="font-family:'CBB Default';margin:1em;text-align:center">
        Still not convinced? Try our demo and see how easy we make budgeting for couples!
    </h4>
</div>

@code {
    [CascadingParameter]
    public EventCallback GrabDemo { get; set; }

    private bool LoadingDemo { get; set; }

    private async void LoadDemo()
    {
        LoadingDemo = true;
        await GrabDemo.InvokeAsync();
    }
}
