@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div id="mobile-nav-bar" class="navbar-dark" style="position:fixed;top:0;padding:0;background-color:indigo;width:100%;z-index:1">
    <div class="flex-r" style="width:100%;padding:1em;justify-content:space-between">
        <a href="home" style="font-size:large;font-family:'CBB Default'; text-align:center; float:left;color:white;">
            <strong>Couple's Better Budget</strong>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="width:100%;height:fit-content;overflow:auto">
        <nav class="flex-column" style="justify-content:start">
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All" style="font-size:large">
                    <span class="oi oi-home"aria-hidden="true"></span><span>&nbsp;Home</span>
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="input" style="font-size:large">
                    <span class="oi oi-plus" aria-hidden="true"></span> Input
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="delete" style="font-size:large">
                    <span class="oi oi-minus" aria-hidden="true"></span> Delete
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="update" style="font-size:large">
                    <span class="oi oi-arrow-thick-top" aria-hidden="true"></span> Update
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="portfolio" style="font-size:large">
                    <span class="oi oi-dollar" aria-hidden="true"></span> Portfolio
                </NavLink>
            </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="chart" style="font-size:large">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Chart
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="forecast" style="font-size:large">
                    <span class="oi oi-sun"></span> Forecast
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="Account" style="font-size:large">
                    <span class="oi oi-person"></span> Manage Account
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    [CascadingParameter]
    public EventCallback LogOff { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
