@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div class="navbar navbar-dark sticky" style="padding:0;background-color:indigo;z-index:1">
    <div class="container-fluid">
        <a href="account" style="font-size:large;font-family:'Imprint MT Shadow'; text-align:center; float:left;color:white;">
            <strong>@("Welcome " + Constants.CUR_USER + "!")</strong>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="width:100%">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="input">
                    <span class="oi oi-plus" aria-hidden="true"></span> Input
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="delete">
                    <span class="oi oi-minus" aria-hidden="true"></span> Delete
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="update">
                    <span class="oi oi-arrow-thick-top" aria-hidden="true"></span> Update
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="portfolio">
                    <span class="oi oi-dollar" aria-hidden="true"></span> Portfolio
                </NavLink>
            </div>
            @if (true)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="chart">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Chart
                </NavLink>
            </div>
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="forecast">
                    <span class="oi oi-sun"></span> Forecast
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Account">
                    <span class="oi oi-person"></span> Manage Account
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    [CascadingParameter]
    public EventCallback LogOff { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
