@using BetterBudgetWeb.Data
@using BetterBudgetWeb.Repo
@using BetterBudgetWeb.Shared.Balances

@if (Mobile)
{
    <br style="clear:both" />
    <div class="flex-c-start" style="width:100%;height:fit-content;align-items:center;">
        <EditableBalanceSlot @ref=NewBalance @bind-TheBalance=TheBalance />
        @if (!string.IsNullOrEmpty(ErrorMsg))
        {
            <p style="color:@ErrorColor">@ErrorMsg</p>
        }
        <div class="flex-r" style="width:100%;margin:1em 0">
            <button class="btn btn-secondary" disabled=@Disabled @onclick=Submit>Submit</button>
        </div>
    </div>
}
else
{
    <div class="tabcontent flex-r-100" style="flex-wrap:wrap;align-items:center">
        <EditableBalanceSlot @ref=NewBalance @bind-TheBalance=TheBalance />
        @if (!string.IsNullOrEmpty(ErrorMsg))
        {
            <p style="color:@ErrorColor">@ErrorMsg</p>
        }
        <div class="flex-r" style="width:100%;margin:1em 0">
            <button class="btn btn-secondary" disabled=@Disabled @onclick=Submit>Submit</button>
        </div>
    </div>
}


@code {
    private EditableBalanceSlot NewBalance;

    [Parameter]
    public Balance TheBalance { get; set; }

    public bool Mobile => Constants.Mobile;

    private string ErrorMsg { get; set; } = string.Empty;
    private string ErrorColor { get; set; } = "red";

    private bool Disabled;
    protected override Task OnInitializedAsync()
    {
        if (TheBalance == null)
        {
            TheBalance = new Balance();
            TheBalance.TextColor = "white";
            TheBalance.Name = "";
        }
        return base.OnInitializedAsync();
    }

    public async void Submit()
    {
        Disabled = true;
        ErrorMsg = string.Empty;
        ErrorColor = "red";
        ErrorMsg = NewBalance.CheckStatus();

        if (string.IsNullOrEmpty(ErrorMsg)){
            await BalanceRepo.AddOrUpdateAsync(TheBalance);
            ErrorColor = "green";
            ErrorMsg = TheBalance.Name + " account was added!";
            TheBalance.Id = Guid.NewGuid().ToString();
        }

        Disabled = false;
        StateHasChanged();
    }
}
