<div class="footer" style="width:100%;padding-top:2em">
    <div class="flex-r-100" style="min-height:1em;height:fit-content;justify-content:center;flex-wrap:wrap;align-content:center">
        <a style="text-align:center;padding-right:1em" href="Policy.html" onclick="window.open('Policy.html',
                         'newwindow',
                         'width=300,height=250');return false;">Privacy Policy</a>
        |
        <a style="text-align:center;padding:0 1em" href="Policy.html" onclick="window.open('TermsOfService.html',
                         'newwindow',
                         'width=300,height=250');return false;">Terms of Service</a>
        |
        <a style="text-align:center;padding:0 1em" href="contact-us">Contact Us</a>

        @* <hr style="width:100%;height:1px" />
        <div class="flex-r-100" style="margin:1em">Powered by<i>&nbsp;Gurley Tech Solutions LLC</i></div>
        <div class="flex-r-100">
        <FooterContainer Title="Legal">
        <a style="text-align:center;padding-right:1em" href="Policy.html" onclick="window.open('Policy.html',
        'newwindow',
        'width=300,height=250');return false;">Privacy Policy</a>
        <a style="text-align:center;padding:0 1em" href="Policy.html" onclick="window.open('TermsOfService.html',
        'newwindow',
        'width=300,height=250');return false;">Terms of Service</a>
        </FooterContainer>
        <FooterContainer Title="Contact">
        <a style="text-align:center;padding-left:1em" href="contact-us">Contact Us</a>
        </FooterContainer>
        </div>
        *@
    </div>
    <div class="flex-r-100" style="padding:0 1em">Powered by<i>&nbsp;<a target="_blank" href="https://gurleytech.com">Gurley Tech Solutions LLC</a></i></div>
</div>

@code {

}
